
# Serve Portfolio at the test domain
elijahblaisdell.dev {
	# set the root directory
	root * /portfolio

	# Compress responses according to Accept-Encoding headers to speed things up where possible
	encode gzip zstd

	route {
		# Direct routes starting with /api to the server on localhost:8000
		# reverse_proxy /api* localhost:8000

		# Direct anything that is not an api route or static file to index.html for React-Router
		try_files {path} {path}/ /index.html

		# Serve files!
		file_server
	}

	log {
		output file /var/log/access.log
	}
}

# Forward traffic to Bitwarden
passwords.elijahblaisdell.dev:443 {
	reverse_proxy /notifications/hub bitwarden:3012
	reverse_proxy bitwarden:80 {
		# Send the true remote IP to Rocket, so that bitwarden_rs can put this in the
		# log, so that fail2ban can ban the correct IP.
		header_up X-Real-IP {remote_host}
	}
}

# Forward Traffic to Nextcloud
cloud.elijahblaisdell.dev:443 {
	reverse_proxy nextcloud:80
}

# Forward Traffic to Collabora
office.elijahblaisdell.dev {
	encode gzip
	reverse_proxy collabora:9980
}

# Forward traffic to finances app
finances.elijahblaisdell.dev {
	# Uncoment below if I ever want caddy to serve the files instead of flask app 
	# (requires modification of at least /auth to /api/auth)
	# root * /finances
	# route {
	#	 Direct routes starting with /api to the server on localhost:8000
	reverse_proxy finances-app:8000

	#	 Direct anything that is not an api route or static file to index.html for React-Router
	# 	 try_files {path} {path}/ /index.html

	# 	 Serve files!
	# 	file_server
	# }
	log {
		output file /var/log/access.log
	}
}

# forward traffic to jellyfin
jelly.elijahblaisdell.dev {
	reverse_proxy jellyfin:8096
}

alexaloop.elijahblaisdell.dev:443 {
	reverse_proxy nightscout:1337
}